
.loginBlock {
    height: 40%;

    .form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 20rem;
    }

    .loginLink {
        margin-left: 5px;
        font-weight: 700;
        color: #3B52C4;
        text-decoration: none;
    }
}

